body{
    background: rgb(2,0,36);
    background: linear-gradient(20deg, #534666 0%,  #8e5d6b 100%);
    color: rgb(255, 255, 255);
    font-family: 'Trebuchet MS', sans-serif;
    
}
p{
  font-size: 2.5vh;
}

@media only screen and (max-width: 500px) {

  .lines {
  
  background-color: lightblue;
  
  }
  
  }

li{
  font-size: 2.5vh;
}


.heading{
  margin-bottom: 0;
  padding: 0;
  padding-top: 3vh;
}
.subheading{
padding: 0;
color: #ffffffd0;
padding-bottom: 2vh;
}

.frontendSkill{
display: inline;
font-weight: 600;
background: #dc8665;
padding: 1px 2vh 1px 2vh;
border-radius: 2vh;
}

.backendSkill{
  display: inline;
  font-weight: 600;
  background: #534666;
  padding: 1px 2vh 1px 2vh;
  border-radius: 2vh;
  }

.whiteblock{
  
  background-color: rgba(255, 255, 255, 0.096);

  border-radius: 2vh;
  box-shadow: 0px 0px 1vh rgba(0, 0, 0, 0.203);
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}
.whiteblock:hover{
  background-color: rgba(255, 255, 255, 0.121);
  transition-duration: 300ms;
  transform: scale(1.01);
box-shadow: 0px 0px 3vh rgba(0, 0, 0, 0.203);
}

h1{
    padding-top: 4vh;
    padding-bottom:4vh;
    letter-spacing: 0.2vh;
    font-size: 5vh; /* 24px */
line-height: 2vh; 
}

h2{
    font-size: 3vh; /* 14px */
    line-height: 4vh; /* 20px */
    letter-spacing: 0.3vh;
    transition: all .2s ease-in;
}

h2:hover{
    letter-spacing: 0.5vh;
    
}

.clickabletext{
  display: inline;
  text-decoration: none;
  font-weight: 600;
  border-radius:1vh;
  padding:0.3vh;
  background-color:transparent;
  cursor: pointer;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  color:#cd7672;
  background-color:#ffffffc9;
}
.clickabletext:hover{
  color:#b16662;
  background-color:#ffffff;
}

h3{
    font-size: 3vh; /* 14px */
    line-height: 5vh; /* 20px */
    letter-spacing: 0.2vh;
    text-align: center;
    margin-top:0.5vh;
}
ul {
  list-style-position: outside;
    display: block;
    list-style-type: disc;
    line-height: 4vh;
    margin-bottom:1vh;
    margin-top:2vh;
    padding:0px;
}

ulexp{
  list-style-position: outside;
  display: block;
  list-style-type: disc;
  line-height: 4vh;
  margin-bottom:3vh;
  padding-left:2vh;
  margin-top:0px;
}
a{
    display: block;
}

.lists{
    padding-top:2vh;
    padding-bottom:3vh;
justify-content: space-between;

}

.languages{
    display:flex;
    border-radius: 2vh;
    margin-top:2vh;
    margin-bottom:4vh;
  
}
.education{
    display:flex;
    padding:4vh;
}

.experience{
  padding-top:2vh;
    padding-bottom:3vh;
}
experiencetitle{
  padding-top:2vh;
  font-size:3vh;
  font-weight: 700;
  padding-bottom: 1vh;
  display: block;
}

unipoint{
    
display: block;
padding-top: 1vh;
padding-bottom: 2vh;
color:rgba(255, 255, 255, 0.847);
}

unipoint:hover{
    color:white;
}
degree{
    font-size:3vh;
    font-weight: 700;
    padding-bottom:1vh;
    display: block;
}
unititle{
    font-size:2.5vh;
    display: block;
    padding-bottom:1vh;
}
unidates{
    font-size:2.5vh;
    color: rgba(255, 255, 255, 0.785);
    font-weight: 100 ;
    display: block;
    
    padding-bottom:1vh;
}



    .lines{
      margin-left:1vh;
      margin-top:1vh;
      margin-right:3vh;
    }
      
      .dot{
        width:2vh;
        height:2vh;
        background: #ffffffbc;
        border-radius:2vh;
      }
.fa-brands{
    color: #ffffffbc;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}
.fa-brands:hover{
    color: #ffffffe1;
    transform: scale(1.05);
}
      .dotnb{
        width:2vh;
        height:2vh;
        background: #ffffffbc;
        border-radius:2vh;
        margin:2vh;
        transition-property: width, height;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 150ms;
      }
      .dotnb:hover{
        
        width:2.3vh;
        height:2.3vh;
        background: #ffffffe1;
      }
      .line{
        height:16vh;
        width:0.3vh;
        background: #ffffffbc;
        margin-left:0.8vh;
      }
  
      languageblock{
        width:28vh;
        height: 20vh;
        border-radius: 3vh;
        padding:2vh;
        display: block;
        padding-bottom:3vh;
      }

      sidebar{
        
        align-items: center;
        position: fixed;
        display: flex;
        height: 100%;
        top:0px;
        left:0px;
      }
      socialmedialist-left{
        margin:1vh;
        width:8vh;
        display:grid;
        grid-template-rows: 6vh 6vh 6vh;
        align-items: center;
        justify-items: center;
    
      }
      sidebar-left{
        
        align-items: center;
        position: fixed;
        display: flex;
        height: 100%;
        top:0px;
        right:0px;
      }


      socialmedialist{
        margin:1vh;
        width:8vh;
        display:grid;
        grid-template-rows: 6vh 6vh 6vh;
        align-items: center;
        justify-items: center;
        row-gap: 2vh;
      }
      li-media{
        display:block;
        padding:2vh;
        
        font-size: 5vh;
      }

      experienceblock{
        padding-top:2vh;
        padding-bottom:3vh;
    display:flex;
    flex-wrap: wrap;
      }