.education-container {
    margin-bottom: 40px;
    border-left: white solid 2px;
    padding-left: 45px;
  }
  
  .education p {
    font-size: 16px;
    margin-top: 0;
    line-height: 4px;
    color: #c1c1c1;
  }
  .education h5 {
    font-size: 16px;
    margin-top: 0;
    padding-bottom: 15px;
    line-height: 20px;
    color: #949494;
    font-weight: 400;
  }
  
  .education h2 {
    line-height: 22px;
    font-weight: 400;
    margin: 0;
  }
  