.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    margin-bottom: 40px;
  }
  
  .left {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
  }
  
  .left img {
    border-radius: 8px;
    object-fit: cover;
  }
  
  .big-photo {
    height: 600px;
    width: 300px;
  }
  
  .small-photo {
    width: 250px;
  }
  
  .right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .right h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .right p {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .right a {
    color: #007bff;
    text-decoration: none;
  }
  
  .right a:hover {
    text-decoration: underline;
  }
  
  .small-photos-wrapper{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }