body {
  font-family: 'Koulen';
  font-weight: 200;
  background-color: #1e1e1e;
  color: rgb(228, 237, 237);
}

.header {
  display: flex;
  justify-content: flex-end;
}
.layout-grid {
  margin: 10px 20px 0 20px;
   display: grid;
  grid-template-columns: 500px auto;
  gap: 60px;
}
.main-content{

}
.languages a.selected {
  color: red;
}
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
}

a {
  cursor: pointer;
}

.menu li {
  border-bottom: 1px solid white;
  margin-top: 15px;
}

.menu {
  list-style-type: none;
}


.intro .subtitle{
  font-size: 22px;

}

.intro .title{
  font-size: 46px;
  line-height: 30px;
}

.red-text{
  color: #BB4430;
}