body {
  font-family: "Koulen";
  font-weight: 200;
  background-color: #1e1e1e;
  color: rgb(228, 237, 237);
}

.header {
  display: flex;
  justify-content: flex-end;
  height: 30px;
}
.layout-grid {
  margin: 20px 40px 0 40px;
  display: grid;
  grid-template-columns: 500px auto;
  gap: 40px;
}
.languages a.selected {
  color: #bb4430;
}
.sidebar {
  position: fixed;
  top: 50px;
  bottom: 0;
}

a {
  cursor: pointer;
}

.menu li {
  color: #C1C1C1;
  border-bottom: 2px solid #C1C1C1;
  margin-top: 25px;
  padding-left: 15px;
  font-size: 20px;
}

.menu {
  list-style-type: none;
  padding: 0;
}

.menu p{
  margin: 0;
  line-height: 16px;
}
.intro .subtitle {
  font-size: 18px;
  color: #b9b9b9
}

.intro .title {
  font-size: 40px;
  line-height: 30px;
}

.red-text {
  color: #bb4430;
}

.post h1{
  margin-top: 0;
}

.skill-container{
  margin-bottom: 40px;
  border-left: white solid 2px;
  padding-left: 45px;
}

.skill p{
  font-size: 16px;
  margin-top: 0;
  line-height: 4px;
  color: #949494
}
.skill h5{
  font-size: 16px;
  margin-top: 0;
  padding-bottom: 15px;
  line-height: 4px;
  color: #949494;
  font-weight: 400;
}

.skill h2{
  font-weight: 400;
  margin: 0;
}