
.photo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
}

.photo-grid-collage {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.photo-item-collage.large {
  grid-column: span 2;
  grid-row: span 2;
}

.photo-item img, .photo-item-collage img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  cursor: pointer;
}
